---
import "./Footer.css";
---

<footer>
  <div class="icon-list">
    <span>Únete a las redes de la comunidad:</span>
    <a href="https://twitter.com/program_es"
      ><i class="nes-icon twitter is-medium"></i></a
    >
    <a href="https://www.instagram.com/programacion.es/"
      ><i class="nes-icon instagram is-medium"></i></a
    >
    <a href="https://github.com/pedrovelasquez9"
      ><i class="nes-icon github is-medium"></i></a
    >
    <a href="https://www.linkedin.com/in/pedroplasencia/"
      ><i class="nes-icon linkedin is-medium"></i></a
    >
    <a href="https://www.twitch.tv/programacion_es"
      ><i class="nes-icon twitch is-medium"></i></a
    >
    <a href="https://www.youtube.com/c/Programaci%C3%B3nenespa%C3%B1ol/videos"
      ><i class="nes-icon youtube is-medium"></i></a
    >
  </div>
</footer>
