---
import Footer from "../components/Footer/Footer.astro";
import Navigation from "../components/Navigation/Navigation.astro";
import Hamburger from "../components/Hamburger/Hamburger.astro";
import "nes.css/css/nes.min.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <Hamburger />
      <Navigation />
    </header>
    <main>
      <h1>{pageTitle}</h1>
      <slot />
    </main>
    <Footer />
    <link rel="stylesheet" href="/styles/global.css" />
    <script src="../scripts/menu.js"></script>
  </body>
</html>
